pandas==2.2.3
numpy==2.0.2
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
shap==0.46.0
missingno==0.5.2
joblib==1.4.2
statsmodels==0.14.4
ipykernel==6.29.5
nbconvert==7.16.4
jupyter==1.1.1
pytest==8.3.3
